{% extends 'layout.html' %}
{% block style %}
 <link href="css/themes/default/css/umeditor.min.css" type="text/css" rel="stylesheet">
 <style media="screen">
	 #add_pictures{
		 margin-top: 7px;
	 }
	 .add_product_img1{
		 display: inline-block;
		 width: 127px;
		 margin-right: 10px;
         text-align: center;
	 }
	 .add_product_img1 img{
		 vertical-align: middle;
		 padding-left: 7px;
		 padding-right: 7px;
	 }
	 .add_product_img1 input{
		 vertical-align: middle;
		 border: none;
		 background: #88B134;
		 color: #fff;
		 padding: 2px 3px;
		 border-radius: 3px;
		 cursor: pointer;
         margin-top: 4px;
	 }
	 .add_product_img2{
		 display: inline-block;
		 width: 117px;
	 }
	 .add_product_img2 img{
		 vertical-align: middle;
	 }
	 .add_product_img2 input{
		 vertical-align: middle;
		 border: none;
		 background: #88B134;
		 color: #fff;
		 padding: 2px 3px;
		 border-radius: 3px;
		 cursor: pointer;
         margin-left: 5px;
	 }
	 .ad-infor-next input{
		 margin: 0 5px;
	 }
	 .merchant-number .merchant-number1{
		 width:20%;
	 }
	 .merchant-number .merchant-number2{
         display: inline-block;
         width:49%;
         height: 30px;
         line-height: 30px;
         margin-left: 10px;
         background:#fff;
         border: none;
         color: #666;
         font-size: 12px;
         text-indent: 10px;

	 }
     .edui-container{
         margin-left: 173px;
     }
     .ad-infor-next-left .three{
         margin-left: 50px;
     }
     p{
         color: #666;
     }
 </style>
{% endblock %}
{% block content %}
<!-- 弹出层填写相信信息 -->
<div class="ad-infor" id="add_project">
	<div class="ad-infor-next">
		<p class="one">编号(自动)</p><input type="text" name="" value="{{row.code}}" class="two code" readonly>
	</div>
	<div class="ad-infor-next merchant-number">
		<p class="one">商户编号(必填)</p><input type="text" name="" value="{{row.tenant.code}}" placeholder="请输入商家编号" class="two merchant-number1" ><span class="two merchant-number2" >{{row.tenant.name}}</span>
	</div>
	<div class="ad-infor-next">
		<p class="one">名称(必填)</p><input type="text" name="" value="{{row.name}}" class="two name">
	</div>
	<div class="ad-infor-next">
		<p class="one">价格</p><input type="text" name="" value="{{row.price_text}}" class="two price_text">
	</div>
	<div class="ad-infor-next">
		<p class="one">联系电话(必填)</p><input type="text" name="" value="{{row.phone}}" class="two phone">
	</div>
	<div class="ad-infor-next">
		<p class="one">地址</p><input type="text" name="" value="{{row.address}}" class="two address">
	</div>
	<div class="ad-infor-next fanli">
		<p class="one">返利方式</p>

			<label style="font-size:14px;margin-left: 50px;"><input name="fan_way" type="radio" value="fanli_bili" {% if row.fanli_bili %}checked{% endif %}/>百分比 </label>

			<label style="font-size:14px;margin-left: 50px;"><input name="fan_way" type="radio" value="fanli_jine" {% if row.fanli_jine %}checked{% endif %} />固定金额 </label>

	</div>

	<div class="ad-infor-next">
		<p class="one">返利比例(%)</p><input type="text" name="" value="{{row.fanli_bili}}" class="two fanli_bili">
	</div>
	<div class="ad-infor-next">
		<p class="one">返利金额(元)</p><input type="text" name="" value="{{row.fanli_jine}}" class="two fanli_jine" readonly>
	</div>

	<div class="ad-infor-next tuijian">
		<p class="one">推荐返利方式</p>
		<label style="font-size:14px;margin-left: 50px;"><input name="tuijian_fanli_fangshi" type="radio" value="tuijian_fanli_bili" {% if row.tuijian_fanli_bili %}checked{% endif %}/>百分比 </label>
		<label style="font-size:14px;margin-left: 50px;"><input name="tuijian_fanli_fangshi" type="radio" value="tuijian_fanli_jine" {% if row.tuijian_fanli_jine %}checked{% endif %}/>固定金额 </label>
	</div>

	<div class="ad-infor-next">
		<p class="one">推荐返利比例</p><input type="text" name="" value="{{row.tuijian_fanli_bili}}" class="two tuijian_fanli_bili">
	</div>
	<div class="ad-infor-next">
		<p class="one">推荐返利金额(元)</p><input type="text" name="" value="{{row.tuijian_fanli_jine}}" class="two tuijian_fanli_jine" readOnly>
	</div>

	<div class="ad-infor-next ad-infor-next-left">
		<p class="one">项目优势</p><textarea class="three item_advantage">{{row.xiangmuyoushi|safe}}</textarea>
	</div>
	<div class="ad-infor-next">
		<p class="one">项目描述</p><textarea class="three item_describe" id="item_describe" style="width:534px;height:140px;" >{{row.description|safe}}</textarea>
	</div>

	<div class="ad-infor-next">
		<p class="one">上传图片</p><input type="file" name="files" value="" class="four image" id="fileupload" multiple>
	</div>
	<div id="add_pictures">

	</div>
	<div class="ad-infor-next float-right">
		<input type="submit" name="" value="保存" class="five" id="save" data-tenant="{{row.tenant_id}}">
		<input type="submit" name="" value="返回" class="five" id="back">
	</div>

</div>


{% endblock %}
{% block script %}
<script src="js/template.min.js" type="text/javascript"></script>
<script src="js/umeditor.min.js" type="text/javascript"></script>
<script src="js/umeditor.config.js" type="text/javascript"></script>

<script id="add_pictures_infos" type="text/template">
	<% if (images.length>0) { %>
		<% _.forEach(images, function(image,index) { %>
			<% if (index == 0) { %>
				<div class="add_product_img1"><img src="<%- image_host %><%- image %>" width="50px"/><input type='submit' value='主图 删除' class='image_delete' data-id ="<%- index %>" data-image="<%- image %>"></div>
			<% } else { %>
				<div class="add_product_img2"><img src="<%- image_host %><%- image %>" width="30px"/><input type='submit' value='删除' class='image_delete' data-id ="<%- index %>"></div>
			<% }%>
		<% }); %>
	<% } %>
</script>

<script>
$(function() {
    var ue = UM.getEditor('item_describe');
	var images = {{images_url|safe}};
	var image_host = "{{image_host}}";
	var project_infos = {
		images : [],
		code : null,
		name : null,
		price_text : null,
		address : null,
		fanli_fangshi : "fanli_bili",
		fanli_bili : null,
		fanli_jine : null,
		tuijian_fanli_fangshi : "tuijian_fanli_bili",
		tuijian_fanli_bili : null,
		tuijian_fanli_jine : null,
		phone : null,
		description : null,
		xiangmuyoushi : null,
		main_image_url : null
	};

	//刷新图片模板
	var fresh_images = function(){
        console.log("images:"+images);
		var tep = _.template($("#add_pictures_infos").html());
		$("#add_pictures").html(tep({images:images,image_host:image_host}));
		//上传图片删除
		$(".image_delete").click(function(){
			var id = $(this).data("id");
            var image = $(this).data("image");
            
			images.splice(id,1);
            console.log("images_after_delete:"+images);
			fresh_images();
		});
	}
	fresh_images();
		//上传图片
		$('#fileupload').fileupload({
		   url: "/do_upload",
		   dataType: 'json',
		   done: function (e, data) {
			  images.push(data._response.result.src);
			  fresh_images();
			}
		});


		//input radio框改变
		$(".fanli input").change(function(){
			 $(".fanli_bili").val("");
			 $(".fanli_jine").val("");
			 $(".fanli_bili").attr("readOnly","true");
			 $(".fanli_jine").attr("readOnly","true");
			 var r = $(this).is(":checked");
			 if (r) {
				 var value = $(this).attr("value");
				 project_infos.fanli_fangshi = value;
				 $("."+value).removeAttr("readOnly");
			 }
		 });
		$(".tuijian input").change(function(){
			 $(".tuijian_fanli_bili").val("");
			 $(".tuijian_fanli_jine").val("");
			 $(".tuijian_fanli_bili").attr("readOnly","true");
			 $(".tuijian_fanli_jine").attr("readOnly","true");
			 var r = $(this).is(":checked");
			 if (r) {
				 var value = $(this).attr("value");
				 project_infos.tuijian_fanli_fangshi = value;
				 $("."+value).removeAttr("readOnly");
			 }
		 });
		//保存
		$("#save").click(function(){
			var tenant_id = $(this).data("tenant");
			 project_infos.code = $(".code").val();
			 project_infos.name = $(".name").val();
			 if (!project_infos.name) {
				 alert("名称必填！")
				 return;
			 }
			 project_infos.tenant_id = {{row.tenant.id}};
			 project_infos.price_text = $(".price_text").val();
			 project_infos.address = $(".address").val();
             console.log("address:"+project_infos.address);
			 if (project_infos.fanli_fangshi == "fanli_bili") {
				 project_infos.fanli_bili = $(".fanli_bili").val();
				//  if (!project_infos.fanli_bili) {
				//  	alert("返利比例必填！")
				// 	return;
				//  }
				 project_infos.fanli_jine = null;
			 }else {
				 project_infos.fanli_jine = $(".fanli_jine").val();
				//  if (!project_infos.fanli_jine) {
				//  	alert("返利金额必填！")
				// 	return;
				//  }
				 project_infos.fanli_bili = null;
			 }
			 if (project_infos.tuijian_fanli_fangshi == "tuijian_fanli_bili") {
				 project_infos.tuijian_fanli_bili = $(".tuijian_fanli_bili").val();
				//  if (!project_infos.tuijian_fanli_bili) {
				//  	alert("推荐返利比例必填！")
				// 	return;
				//  }
				 project_infos.tuijian_fanli_jine = null;
			 }else {
				 project_infos.tuijian_fanli_jine = $(".tuijian_fanli_jine").val();
				//  if (!project_infos.tuijian_fanli_jine) {
				//    alert("推荐返利金额必填！")
				//    return;
				// }
				project_infos.tuijian_fanli_bili = null;
			}
			 project_infos.id = {{row.id}};
			 project_infos.phone = $(".phone").val();
			 project_infos.description = ue.getContent();
			 project_infos.xiangmuyoushi = $(".item_advantage").val();
			 project_infos.main_image_url = images[0];
			 project_infos.images = images;
			 $.post("/update_project",{project_infos:JSON.stringify(project_infos)},function(data){
				 if (data.success) {
				 	alert("保存成功！");
                    location.href = "/unshelve_projects";
				 }
			 })
		 });
		 $("#back").click(function(){
			 location.href = "/unshelve_projects";
		 });

	$(".list-infor3").addClass("hover");
	$(".ad-infor").css("display","block");
	$(".name").focus();
	$("#add_cancel").click(function(){
		location.href ="/add_project";
	});
});



</script>
{% endblock %}
