{% extends 'layout.html' %}
{% block style %}
 <link href="css/themes/default/css/umeditor.min.css" type="text/css" rel="stylesheet">
 <style media="screen">
	 #add_pictures{
		 margin-top: 7px;
	 }
	 .add_product_img1{
		 display: inline-block;
		 width: 127px;
		 margin-right: 10px;
         text-align: center;
	 }
	 .add_product_img1 img{
		 vertical-align: middle;
		 padding-left: 7px;
		 padding-right: 7px;
	 }
	 .add_product_img1 input{
		 vertical-align: middle;
		 border: none;
		 background: #88B134;
		 color: #fff;
		 padding: 2px 3px;
		 border-radius: 3px;
		 cursor: pointer;
         margin-top: 4px;
	 }
	 .add_product_img2{
		 display: inline-block;
		 width: 117px;
	 }
	 .add_product_img2 img{
		 vertical-align: middle;
	 }
	 .add_product_img2 input{
		 vertical-align: middle;
		 border: none;
		 background: #88B134;
		 color: #fff;
		 padding: 2px 3px;
		 border-radius: 3px;
		 cursor: pointer;
         margin-left: 5px;
	 }
	 .ad-infor-next input{
		 margin: 0 5px;
	 }
	 .merchant-number .merchant-number1{
		 width:20%;
	 }
	 .merchant-number .merchant-number2{
         display: inline-block;
         width:49%;
         height: 30px;
         line-height: 30px;
         margin-left: 10px;
         background:#fff;
         border: none;
         color: #666;
         font-size: 12px;
         text-indent: 10px;

	 }
     .edui-container{
         margin-left: 173px;
     }
     .ad-infor-next-left .three{
         margin-left: 50px;
     }
     p{
         color: #666;
     }
     #back{
        display: inline-block;
        color: #000;
        font-size: 14px;
        text-align: center;
        background: #ededed;
     }
     #float-right{
         margin-right: 34px;
     }
     #back{
         margin-right: 7px;
         display: inline-block;
        color: #000;
        font-size: 14px;
        text-align: center;
        background: #ededed;
     }
     .ad-infor-next span:first-child{
         background: #999;
     }
 </style>
{% endblock %}
{% block content %}
<!-- 弹出层填写相信信息 -->
<div class="ad-infor" id="add_project">
	<div class="ad-infor-next">
		<p class="one">编号(自动)</p><input type="text" name="" value="{{row.code}}" class="two code" readonly>
	</div>
	<div class="ad-infor-next merchant-number">
		<p class="one">商户编号</p><input type="text" name="" value="{{row.tenant.code}}" placeholder="请输入商家编号" class="two merchant-number1" readonly ><span class="two merchant-number2" >{{row.tenant.name}}</span>
	</div>
	<div class="ad-infor-next">
		<p class="one">名称</p><input type="text" name="" value="{{row.name}}" class="two name" readonly>
	</div>
	<div class="ad-infor-next">
		<p class="one">价格</p><input type="text" name="" value="{{row.price_text}}" class="two price_text" readonly>
	</div>
	<div class="ad-infor-next">
		<p class="one">联系电话</p><input type="text" name="" value="{{row.phone}}" class="two phone" readonly>
	</div>
	<div class="ad-infor-next">
		<p class="one">地址</p><input type="text" name="" value="{{row.address}}" class="two address" readonly>
	</div>
	<div class="ad-infor-next fanli">
		<p class="one">返利方式</p>

			<label style="font-size:14px;margin-left: 50px;"><input name="fan_way" type="radio" value="fanli_bili" {% if row.fanli_bili %}checked{% endif %} readonly />百分比 </label>

			<label style="font-size:14px;margin-left: 50px;"><input name="fan_way" type="radio" value="fanli_jine" {% if row.fanli_jine %}checked{% endif %} readonly />固定金额 </label>

	</div>

	<div class="ad-infor-next">
		<p class="one">返利比例(%)</p><input type="text" name="" value="{{row.fanli_bili}}" class="two fanli_bili" readonly>
	</div>
	<div class="ad-infor-next">
		<p class="one">返利金额(元)</p><input type="text" name="" value="{{row.fanli_jine}}" class="two fanli_jine" readonly>
	</div>

	<div class="ad-infor-next tuijian">
		<p class="one">推荐返利方式</p>
		<label style="font-size:14px;margin-left: 50px;"><input name="tuijian_fanli_fangshi" type="radio" value="tuijian_fanli_bili" {% if row.tuijian_fanli_bili %}checked{% endif %} readonly />百分比 </label>
		<label style="font-size:14px;margin-left: 50px;"><input name="tuijian_fanli_fangshi" type="radio" value="tuijian_fanli_jine" {% if row.tuijian_fanli_jine %}checked{% endif %} readonly />固定金额 </label>
	</div>

	<div class="ad-infor-next">
		<p class="one">推荐返利比例</p><input type="text" name="" value="{{row.tuijian_fanli_bili}}" class="two tuijian_fanli_bili" readonly>
	</div>
	<div class="ad-infor-next">
		<p class="one">推荐返利金额(元)</p><input type="text" name="" value="{{row.tuijian_fanli_jine}}" class="two tuijian_fanli_jine" readOnly>
	</div>

	<div class="ad-infor-next ad-infor-next-left">
		<p class="one">项目优势</p><textarea class="three item_advantage" readonly>{{row.xiangmuyoushi|safe}}</textarea>
	</div>
	<div class="ad-infor-next">
		<p class="one">项目描述</p><textarea class="three item_describe" id="item_describe" style="width:534px;height:140px;" readonly >{{row.description|safe}}</textarea>
	</div>

	<div class="ad-infor-next">
		<p class="one">上传图片</p><input type="file"  name="files" value="" class="four image" id="fileupload" multiple>
	</div>
	<div id="add_pictures">

	</div>
	<div class="ad-infor-next float-right" id="float-right">
        <span class="five push_back" id="back">打 回</span>
		<span class="five" id="back"><a href="shelve_projects">返 回</a></span>
	</div>

</div>


{% endblock %}
{% block script %}
<script src="js/template.min.js" type="text/javascript"></script>
<script src="js/umeditor.min.js" type="text/javascript"></script>
<script src="js/umeditor.config.js" type="text/javascript"></script>

<script id="add_pictures_infos" type="text/template">
	<% if (images) { %>
		<% _.forEach(images, function(image,index) { %>
			<% if (index == 0) { %>
				<div class="add_product_img1"><img src="<%- image_host %><%- image %>" width="50px"/><input type='submit' value='主图 删除' class='image_delete' data-id ="<%- index %>"></div>
			<% } else { %>
				<div class="add_product_img2"><img src="<%- image_host %><%- image %>" width="30px"/><input type='submit' value='删除' class='image_delete' data-id ="<%- index %>"></div>
			<% }%>
		<% }); %>
	<% } %>
</script>

<script>
$(function() {
    var ue = UM.getEditor('item_describe');
	$(".list-infor4").addClass("hover");
	$(".ad-infor").css("display","block");
	$(".name").focus();
    var images = {{images_url|safe}};
	var image_host = "{{image_host}}";

    $(".push_back").click(function(){
        $.post("/down_project",{"project_id":"{{row.id}}"},function(data){
            if (data.success) {
                location.href ="/shelve_projects";
            }else {
                alert(data.message);
            }
        });
    });

    //刷新图片模板
	var fresh_images = function(){
		var tep = _.template($("#add_pictures_infos").html());
		$("#add_pictures").html(tep({images:images,image_host:image_host}));
		//上传图片删除
		$(".image_delete").click(function(){
			var id = $(this).data("id");
			images.splice(id,1);
			fresh_images();
		});
	}
    fresh_images();


});



</script>
{% endblock %}
